@model HajjPort.Models.Port

@{
    ViewData["Title"] = "Delete";
}

 <br />

<h3 class="text-danger">هل أنت متأكد أنك تريد حذف ?</h3>
<div>
    
    <hr />
    <h4>
        بيانات المنفذ
        :
        @Html.DisplayFor(model => model.Name)
    </h4>
   <hr />
    
 
    
   <form asp-action="Delete">
       <input type="hidden" asp-for="id" />
       <input type="submit" value="حذف" class="btn btn-danger" /> |
       <a asp-action="Index" class="btn btn-outline-info">العودة الى القائمة</a>

   </form>
</div>
